@page
@using Microsoft.AspNetCore.Identity
@model WebApplication1.Pages.ChangePasswordModel
@{
}
@inject SignInManager<IdentityUser> SignInManager

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            <!-- Display success message if available -->
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div> <!-- Display all errors -->

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordViewModel.OldPassword">Old Password</label>
                    <input type="password" asp-for="ChangePasswordViewModel.OldPassword" class="form-control" />
                    <span asp-validation-for="ChangePasswordViewModel.OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordViewModel.NewPassword">New Password</label>
                    <input type="password" asp-for="ChangePasswordViewModel.NewPassword" class="form-control" />
                    <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordViewModel.ConfirmPassword">Confirm New Password</label>
                    <input type="password" asp-for="ChangePasswordViewModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ChangePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
