@page
@model WebApplication1.Pages.ForgotPasswordConfirmationModel
@{
}

<h2>Forgot Password</h2>
<p>Your password reset request has been received. Please check your email for further instructions.</p>